#how_it_works_card_container
{
  width: 400px;
  border-radius: 30px;
  padding: 60px 35px;
  background-image: url("./how_it_works_card_background.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card_icon {
  width: 150px;
}

#how_it_works_title_card_title {
  font-size: 30px;
  color: #3C3C3C;
  margin: 0;
}

#how_it_works_title_card_paragraph {
  color: #5B5B5B;
}

