#how_it_works_card_container {
  width: 350px;
  border-radius: 30px;
  padding: 60px 35px;
  background-image: url("./how_it_works_card_background.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card_icon {
  width: 150px;
}

#how_it_works_title_card_title {
  font-size: 30px;
  color: #3C3C3C;
  margin: 0;
}

#how_it_works_title_card_paragraph {
  color: #5B5B5B;
}

@media only screen and (max-width: 1300px) {
  #card_icon {
    width: 150px;
  }

  #how_it_works_title_card_title {
    font-size: 30px;
    color: #3C3C3C;
    margin: 0;
  }

  #how_it_works_title_card_paragraph {
    color: #5B5B5B;
  }

  #how_it_works_card_container {
    width: 380px;
    border-radius: 30px;
    padding: 35px 35px;
    background-image: url("./how_it_works_card_background.png");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  
  #card_icon {
    width: 150px;
  }

  #how_it_works_title_card_title {
    font-size: 30px;
    color: #3C3C3C;
    margin: 0;
  }

  #how_it_works_title_card_paragraph {
    color: #5B5B5B;
    font-size: 12px;
  }

  #how_it_works_card_container {
    width: 250px;
    border-radius: 30px;
    padding: 35px 35px;
    background-image: url("./how_it_works_card_background.png");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}