#how_it_works_container {
  background-color: #FFFAF2;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#how_it_works_left {
  width: 600px;
  text-align: left;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#how_it_works_title {
  font-size: 60px;
  margin: 0;
}

.how_it_works_selector {
  border-bottom: 1px solid #D6D6D6;
  margin: 20px 0;
  font-size: 20px;
  color: #838383;
}

.how_it_works_selector:hover {
  cursor: pointer;
}

#how_it_works_paragraph {
  color: #5B5B5B;
}

.how_it_works_selector1 {
  color: black;
}

@media only screen and (max-width: 1300px) {
  #how_it_works_container {
    background-color: #FFFAF2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  #how_it_works_left {
    margin-top: 30px;
    margin-left: 100px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .how_it_works_selector {
    border-bottom: 1px solid #D6D6D6;
    margin: 20px 0;
    font-size: 20px;
    color: #838383;
    text-align: left;
  }

  #how_it_works_title {
    font-size: 60px;
    margin: 0;
    text-align: center;
  }
}


@media only screen and (max-width: 600px) {

  #how_it_works_left {
    width: 350px;
    text-align: left;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #how_it_works_title {
    font-size: 45px;
    margin: 0;
    text-align: center;
  }

  .how_it_works_selector {
    border-bottom: 1px solid #D6D6D6;
    margin: 20px 0;
    font-size: 18px;
    color: #838383;
    text-align: center;
  }

  #how_it_works_paragraph {
    color: #5B5B5B;
    font-size: 14px;
    padding: 0px 30px;
  }


}