#landing_fold_container {
  height: 500px;
  background-image: url("banner_background.png");
  background-repeat: no-repeat;
  display: flex;
  margin-top: 85px;
  color: #3C3C3C;
  align-items: center;
  justify-content: space-around;
}

.computer_screen {
  height: 350px;
  width: 400px;
}

#landing_title_text {
  font-weight: 400;
  font-size: 70px;
  text-align: left;
  line-height: 85px;
  margin: 0;
}

#title_subtext {
  display: block;
  font-weight: 100px;
  font-size: 40px;
}

#landing_fold_buttons {
  width: 650px;
  display: flex;
  justify-content: space-between;
}

#landing_fold_paragraph {
  text-align: left;  
  margin-top: 20px;
}

#landing_fold_left {
  width: 700px;
  font-weight: 200;
}