#landing_fold_container {
  height: 500px;
  background-image: url("banner_background.png");
  background-repeat: no-repeat;
  display: flex;
  margin-top: 85px;
  color: #3C3C3C;
  align-items: center;
  justify-content: space-around;
}

.computer_screen {
  height: 350px;
  width: 400px;
  margin-right: 10px;
}

#landing_title_text {
  font-weight: 400;
  font-size: 70px;
  text-align: left;
  line-height: 85px;
  margin: 0;
}

#title_subtext {
  display: block;
  font-weight: 100px;
  font-size: 40px;
}

#landing_fold_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

#landing_fold_paragraph {
  text-align: left;
  margin-top: 20px;
  width: 500px;
}

#landing_fold_left {
  font-weight: 200;
  margin-left: 30px;
}

@media only screen and (max-width: 1200px) {
  #landing_title_text {
    font-weight: 400;
    font-size: 60px;
    text-align: left;
    line-height: 70px;
    margin: 0;
  }

  #title_subtext {
    display: block;
    font-weight: 100px;
    font-size: 20px;
  }

  .computer_screen {
    height: 275px;
    width: 300px;
  }

  #landing_fold_paragraph {
    text-align: left;
    margin-top: 20px;
    width: 500px;
    font-size: 15px;
  }

  #landing_fold_buttons {
    width: 500px;
    display: flex;
    justify-content: flex-start;
  }

}

@media only screen and (max-width: 800px) {
  #landing_fold_container {
    height: 400px;
    background-image: url("banner_background.png");
    background-size: 100% 100%;
    display: flex;
    margin-top: 85px;
    color: #3C3C3C;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #landing_fold_buttons {
    width: 600px;
    display: flex;
    justify-content: flex-start;
  }

  .computer_screen {
    height: 0px;
    width: 0px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #landing_title_text {
    font-weight: 400;
    font-size: 60px;
    text-align: left;
    line-height: 50px;
    margin: 0;
    width: 360px;
  }

  #title_subtext {
    display: block;
    font-weight: 100px;
    font-size: 16px;
  }

  #landing_fold_container {
    height: 560px;
    background-image: url("banner_background.png");
    background-size: 100% 100%;
    display: flex;
    margin-top: 85px;
    color: #3C3C3C;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #landing_fold_buttons {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }

  #landing_fold_paragraph {
    text-align: left;
    margin-top: 20px;
    width: 300px;
  }
}