#footer_container {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_link {
  color: #848484;
  margin: 0 30px;
  font-weight: 300;
  text-decoration: none;
}

#footer_container a {
  text-decoration: none;
}