.community_section_blurb_container {
  text-align: left;
  width: 30vw;
  margin: 1vw 5vw;
}

@media only screen and (max-width: 800px) {
  .community_section_blurb_container {
    text-align: center;
    width: 100%;
    margin: 1vw 5vw;
  }
}