#join_community_container {
  display: flex;
  align-items: space-between;
  justify-content: center;
  background-image: url("./join_community_background.png");
  color: #3C3C3C;
  padding: 50px 0px;
}

#community_title {
  font-size: 70px;
  margin: 0;
}

.community_stats {
  font-size: 23px;
  font-weight: 400;
  color: #848484;
}

.community_stats_metric {
  color: #3C3C3C;
  font-weight: 700;
}

#commmunity_stats_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

#community_blurb_container {
  width: 86vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#fireside_community_photo {
  height: 250px;
}


@media only screen and (max-width: 800px) {
  #join_community_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./join_community_background.png");
    background-size: 100% 100%;
    padding: 50px 0px;
  }

  #community_title {
    font-size: 50px;
    margin: 0;
  }

  .community_stats {
    font-size: 18px;
    font-weight: 400;
    color: #848484;
    width: 250px;
  }

  #community_blurb_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #community-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  #join_community_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./join_community_background.png");
    background-size: 100% 100%;
    padding: 50px 0px;
  }

  #community_title {
    font-size: 50px;
    margin: 0;
  }

  .community_stats {
    font-size: 15px;
    font-weight: 400;
    color: #848484;
    width: 180px;
    display: flex;
    flex-direction: column;
  }

  #community_blurb_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #community-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}